.img-bg{
    display: block;
    background-image: url(/public/img/slider-autocar-5.jpg);
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.description-section{
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    font-weight: bold;
 
}
.des-title{
    margin-bottom: 0;
}
.padding{
    padding: 32px 0;
}